img {
  vertical-align: middle;      
} 

.x-field.x-field-labeled .x-form-label, .x-form-label: { text-align:center; }

.poi-item {
   font-size: 0.8em;
}


.poi-item img {
   float: left;
} 

.poi-item .info {
   margin-left: 50px;
}

.poi-item .info .distance {
    font-weight:normal;
    font-style: italic;
}

.poi-item .info .title { font-weight:bold; }

#distanceSelect {
   width: 100px;
}
#typeSelect {
     width:150px;
}

.poi-info {
   font-size:0.8em;
   background-color: white;
}
.poi-info h2 {
   font-size:1.3em;
   width:100%;
   text-align:center;
   font-weight: bold;
   margin-bottom: 5px;
}

.poi-info .contact li {
   margin-top: 5px;
   min-height: 30px;
}

.poi-info .adresse, .poi-info .contact {
   margin-left: 15px;
}

.poi-info a, .poi-info a:hover, .poi-info a:visited {
   color: black;
}

.poi-info .description {
   margin:15px;
   padding-bottom: 15px;
}

.poi-info h3 {
   font-weight:bold;
   width:100%;
   border-bottom:1px black solid;
   
}



